@model IEnumerable<CoreStudy.Models.Categories>

@{
    ViewData["Title"] = "Index";
}

<h2> Categories </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
        }
    </tbody>
</table>

<p>
    <a asp-controller="Home" asp-action="Index"> Back to start page </a>
</p>