@{
    ViewData["Title"] = "Index";
}

<h2> Welcome on a Start Page of CoreStudy app </h2>

<div>
    <a asp-controller="Categories" asp-action="Index"> Categories List </a>
</div>

<div>
    <a asp-controller="Products" asp-action="Index"> Products List </a>
</div>